/* Evita scroll en toda la página */
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

/* Contenedor principal */
.login-container {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('/Fondo.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    position: fixed;
    top: 0;
    left: 0;
}

/* Cuadro */
.login-card {
    width: 100%;
    max-width: 400px;

    background: rgba(249, 247, 247, 0.96);

    border-radius: 25px;

    padding: 45px;

    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);

    backdrop-filter: blur(10px);
}

/* Logo */
.logo-section {
    text-align: center;
    margin-bottom: -60px;
    margin-top: -70px;
}

.logo-section img {
    width: 300px;
}

/* Título */
h2 {
    text-align: center;
    color: #1f2b5c;
    font-size: 42px;
    margin: 0;
}

p {
    text-align: center;
    color: #666;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 18px;
}

/* Inputs */
.input-group {
    margin-bottom: 18px;
}

.input-group input {
    width: 100%;
    box-sizing: border-box;

    padding: 16px;

    border: 1px solid #ddd;
    border-radius: 12px;

    font-size: 16px;
}

/* Opciones */
.options {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 25px;
    font-size: 14px;
}

.options a {
    color: #3366ff;
    text-decoration: none;
}

/* Botón login */
.login-btn {
    width: 100%;

    padding: 16px;

    border: none;
    border-radius: 12px;

    background: #3366ff;
    color: white;

    font-size: 18px;
    font-weight: 600;

    cursor: pointer;

    margin-bottom: 25px;
}

.login-btn:hover {
    background: #2952cc;
}

/* Separador */
.separator {
    display: flex;
    align-items: center;
    margin: 25px 0;
}

.separator::before,
.separator::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #ddd;
}

.separator span {
    margin: 0 15px;
    color: #888;
}

/* Google */
.google-btn {
    width: 100%;

    padding: 15px;

    border: 1px solid #ddd;
    border-radius: 12px;

    background: white;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    font-size: 16px;
    cursor: pointer;
}

.google-btn img {
    width: 24px;
}


/* Mensajes de error */
small{
    color:red;
    font-size:12px;
}

.mensaje{
    margin-top:15px;
    text-align:center;
    font-weight:bold;
}

/* Responsive */
@media (max-width: 768px) {
    .login-card {
        width: 90%;
        padding: 30px;
    }

    h2 {
        font-size: 32px;
    }

    p {
        font-size: 16px;
    }
}