<div class="login-container">

  <div class="login-card">

    <div class="logo-section">
      <img src="Logo.png" alt="TaskManager">
    </div>

    <h2>Iniciar sesión</h2>
    <p>Accede al administración de tareas</p>

    <form [formGroup]="loginForm" (ngSubmit)="iniciarSesion()">

      <div class="input-group">
        <input
          type="email"
          formControlName="email"
          placeholder="Correo electrónico">

        <small
          *ngIf="loginForm.get('email')?.invalid &&
          loginForm.get('email')?.touched">

          Correo inválido

        </small>
      </div>

      <div class="input-group">
        <input
          type="password"
          formControlName="password"
          placeholder="Contraseña">

        <small
          *ngIf="loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched">

          La contraseña es obligatoria

        </small>
      </div>

      <div class="options">

        <label>
          <input
            type="checkbox"
            formControlName="remember">
          Recordarme
        </label>

        <a href="#">
          ¿Olvidaste tu contraseña?
        </a>

      </div>

      <button type="submit" class="login-btn">
        Iniciar sesión
      </button>

      <div class="separator">
        <span>o</span>
      </div>

      <button
        type="button"
        class="google-btn"
        (click)="loginGoogle()">

        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/google/google-original.svg">

        Iniciar sesión con Google

      </button>

      <div class="mensaje">
        {{ mensaje }}
      </div>

    </form>

  </div>

</div>